{% extends "layout.html" %}
{% block body %}
<script language="javascript">
    function hashexample()
    {
        var form = document.forms[0];
        var hashtype = form.hashtype.value;
        var text = document.getElementById("text")
        if ( hashtype=== "")
            text.textContent = "";

        {% for hash in HASHS_LIST %}
        else if (hashtype === "{{hash[0]}}")
            text.textContent = "{{hash[2]}}";
        {% endfor %}
    }

    function markContent(classe) {
        if (document.getElementById(classe).className == "opacity") {
            var inputList = document.getElementsByClassName(classe + "-display")[0].getElementsByTagName("input");
            for (var i = 0; i < inputList.length; i++) {
                if (inputList[i].type == 'checkbox')
                    inputList[i].checked = false;
            }
            document.getElementById(classe).className = ""
        } else {
            var inputList = document.getElementsByClassName(classe + "-display")[0].getElementsByTagName("input");
            for (var i = 0; i < inputList.length; i++) {
                if (inputList[i].type == 'checkbox')
                    inputList[i].checked = true;
            }
            document.getElementById(classe).className = "opacity"
        }
    }
</script>
{% if error %}<div class="alert alert-danger">{{error}}</div>{% endif %}
<form action="/add/validate" id="hashform" method="post" enctype=multipart/form-data>
    <input name=_csrf_token type=hidden form="hashform" value="{{ csrf_token() }}">

    <h2>Hash(es) options</h2>
    <div class="card">
      <h3>Enter hash(es)</h3>
      <div class="textareahash"><textarea name="hashes" form="hashform" placeholder="Enter the hash list (one per line) "></textarea></div>
              
      <h3 style="display: inline-block;">Or select a text file containing the hashes</h3> (txt extension only and the maximum supported size is {{max_size/(1024*1024)}} MB)
      <br />
      <input type=file name=file form="hashform">
      <br />
      
      <div class="withusernames" data-toggle="tooltip" data-placement="right" title=" In this case, usernames have to be separated from hashes by {{ separator }}. For example, a compliant input if the box it ticked is: user{{ separator }}hash"><input id="contientusernames" name="Withusernames"  type="checkbox" value=1> The hash list contains usernames </div>
      
      <div class="hashlist">
        <h3>Select the hash type</h3>
        <select name="hashtype" id="hashtype" form="hashform" onChange=hashexample() required >
            <option value="">&nbsp;</option>
            {% for hash in HASHS_LIST %}
    	        <option value="{{ hash[0] }}">{{ hash[1] }} </option>
            {% endfor %}
        </select>
      </div>

      <p> Expected hash format:</p>
      <pre class="hash_example" id="text">&lt;Select hash type in the drop-down box&gt;</pre>
      <div class="identify"><img src="{{ url_for('static', filename='img/question-mark.png') }}"><a href="/identify-hash" target="_blank"> Hash type identification assistant </a></div>

    </div>
    <h2>Select one or more attack modes</h2>
    <div class="card">
      <div class="checkBoxStyle">

      <input id="keyword" name="Keywords" type="checkbox" value=1>  Keyword(s)
      <div class="display-keywords">
      <textarea id="display-keywords"  placeholder="Enter keyword(s) (one per line)" name="ChosenKeyword"></textarea>
      </div><br />

      <input id="wordlist" name="Wordlist"  type="checkbox" value=1 onclick=markContent("wordlist")>  Wordlist attack <br />
      <div class="wordlist-display">

           {% for wordlist in wordlist_dictionary %}
                <input type="checkbox" name= "{{wordlist | slugify_template }}" id= "{{wordlist | slugify_template}}" value=1>  {{wordlist}} <br />
           {% endfor  %}

      </div>

      <input id="wordlistvar" name="WordlistVariations"   type="checkbox" value=1 onclick=markContent("wordlistvar")>  Wordlist with variations attack (append numbers, special characters, leet, ...) <br />
          <div class="wordlistvar-display">

           {% for wordlist in wordlist_dictionary %}
              <input type="checkbox" name= "rule{{wordlist | slugify_template}}" id= "rule{{wordlist | slugify_template}}" value=1>  {{wordlist}} <br />
           {% endfor  %}

            </div>

      <input id="mask" name="Mask" type="checkbox" value=1> Mask
      <div class="mask-display">
          <input type="text" id="mask-display"  placeholder="Enter the mask" name="ChosenMask">
          <br />Expected mask format &laquo;&nbsp;<code>?u?l?l?l?l?d?s?a</code>&nbsp;&raquo;, or :
          <ul>
              <li><code>?u</code> = ABCDEFGHIJKLMNOPQRSTUVWXYZ</li>
              <li><code>?l</code> = abcdefghijklmnopqrstuvwxyz</li>
              <li><code>?d</code> = 0123456789</li>
              <li><code>?s</code> = «space»!"#$%&'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~</li>
              <li><code>?a</code> = <code>?l?u?d?s</code> (All character type)</li>
          </ul>
      </div><br />

      <input id="bruteforce" name="Bruteforce" type="checkbox" value=1>  Bruteforce <br />

      </div>
    </div>

    <h2>Select the crack duration</h2>
    <div class="card">
      <ul class="empty">
      {% for duration in CRACK_DURATIONS %}
        <li class="diagram{{ duration }}"><input type="radio" name="ChosenDuration" value="{{ duration }}" {% if loop.first %}checked{% endif %} > {{ duration }} days</li><br />
      {% endfor %}
      </ul>
    </div>


    <br /><br />
    <input type="submit" class="btn btn-success" value="Submit hash(es)" >
  </form>
{% endblock %}
