{% extends "layout.html" %}
{% block body %}

<script>
function deleteConfirm(formId){
    bootbox.dialog({
        message: "Are you sure you want to cancel this crack ? ",
        title: "Cancel",
        buttons: {
            main: {
                label: "Confirm",
                className: "btn-primary",
                callback: function() {
                    document.getElementById(formId).submit()
                }
            }
        }
    })
}
</script>

  <h2>Cracks list</h2>
  {% if crack_list | length == 0 %}
    <p>Your cracking history is empty. </p>
  {% else %}
  <ul class="empty">
    {% for crack in crack_list %}
    <li class="
    {% if crack[4] == 0  %}
      achieved
    {% elif crack[4] == 1 %}
      ongoing
    {% elif crack[4] == 2 %}
      question
    {% elif crack[4] == 3 %}
      cancelled
    {% elif crack[4] == 4 %}
      question
    {% elif crack[4] == 5 %}
      failed
    {% elif crack[4] == 6 %}
      tentative
    {% endif %}
    ">
      Crack launched on {{ crack[1]|datetime }}.<br />
      Hash type: {{ crack[3] }}.<br />
      {% if crack[4] == 0  %}
        Status: Finished crack
      {% elif crack[4] == 1 or crack[4] == 2 %}
        <form action="/user/cracks/abort/{{ crack[0] }}" id="arret{{ crack[0] }}" method="POST" style="display:inline; margin-bottom: 0px;">
          {% if crack[4] == 1 %}
          Status: Ongoing crack
          {% else %}
          Status: Crack waiting to be launched (too many cracks at the moment)
          {% endif %}
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
          <img src="{{ url_for('static', filename='img/red-cancel.png') }}" class="stopbutton" onclick='deleteConfirm("arret{{ crack[0] }}")' title="Cancel"/>
        </form>
      {% elif crack[4] == 3 %}
        Status: Cancelled crack
      {% elif crack[4] == 4 %}
        Status: Unknown status
      {% elif crack[4] == 5 %}
        Status: Failed crack
      {% endif %}
      <br />
      <a href='/user/cracks/{{ crack[0] }}'>See more details</a>
    </li>
    <br />
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
