{% extends "layout.html" %}
{% block body %}

    {% if crack_count > MAX_CRACKSESSIONS  %}
    <p>Your crack can't be launched because the maximum number of cracks has been reached.</p>
    {% endif  %} 

    {% if crack_count == 0 %}
    <p> There is no ongoing crack. </p>
    {% elif crack_count == 1 %}
    <p> There is currently 1 ongoing crack: </p>
    {% else %}
    <p> There are {{crack_count}} ongoing cracks: </p>
    {% endif %}

    {% for crack in running_crack_list %}
    <ul>
      <li>
        <div class="red"> {{ crack[0] }} </div>: crack of type <div class="red">{{ crack[2] }}</div>, launched on <div class="red">{{ crack[1] | datetime }}</div> for a period of <div class="red">{{ crack[3] }} days</div> (using {{ crack[5] }} MiB of GPU memory).
      </li>
    </ul>
    {% endfor %}
    <p> GPU memory status: {{ total_memory_used }} MiB used / {{ total_memory }} MiB available ({{ total_memory_free }} MiB free).</p>
{% endblock %}
