{% extends "layout.html" %}

{% block body %}
<p>
  {%if crackOption != '' %}
    <ul>
    {% for method, dict in crackOption %}

      {%if method == 'BruteForce_lm' %}
        <li>Bruteforce attack on the LM hashes:
          <ul>
          {% for key in dict if key != 'BruteForce_lm' %}
            <li class="{{ dict[key] | get_log_display_css }}">{{ key }} character{% if key > 1 %}s{% endif %} 
              <ul>
                {% for line in dict[key] | separate_lines %}
                <li>{{ line }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          {% if (dict | is_current_bruteforce_attack_running) %}
            <li>The bruteforce may still be ongoing, but no additional information is available in the logs.</li>
          {% endif %}
          
          {% if dict|len == 1 %}
            <li class="nostarted">Bruteforce not started.</li>
          {% endif %}
          </ul>
        </li>

      {%elif method == 'Dict' %}
        {% for key in dict if key != 'Dict' %}
          <li class="{{ dict[key] | get_log_display_css }}">Recovering the NTLM hashes with the help of the cracked LM passwords (case variation):
            <ul>
                {% for line in dict[key] | separate_lines %}
                <li>{{ line }}</li>
                {% endfor %}
              </ul>
          </li>
        {% endfor %}

      {%elif method == 'Keywords' %}
        <li>Keywords attack:
          <ul>
          {% for wordlist_or_rule in dict%}
            {%if wordlist_or_rule == 'Keywords' %}
              <li class="{{ dict[wordlist_or_rule] | get_log_display_css }}">Keywords without any rules 
                <ul>
                  {% for line in dict[wordlist_or_rule] | is_method_not_started | separate_lines %}
                  <li>{{ line }}</li>
                  {% endfor %}
                </ul>
              </li>
              <li>Keywords with rules:
                <ul>
            {%else %}
                  <li class="{{ dict[wordlist_or_rule] | get_log_display_css }}">{{ wordlist_or_rule }} 
                    <ul>
                      {% for line in dict[wordlist_or_rule] | is_method_not_started | separate_lines %}
                      <li>{{ line }}</li>
                      {% endfor %}
                    </ul>
                  </li>
            {% endif %}
          {% endfor %}
                </ul>
              </li>
          </ul>
        </li>


      {% elif method == 'Wordlist' %}
        <li>Wordlist(s) attack:
          <ul>
          {% for wordlist in dict%}
            <li class="{{ dict[wordlist] | get_log_display_css }}">{{ wordlist | unslugify_template }} 
              <ul>
                {% for line in dict[wordlist] | is_method_not_started | separate_lines %}
                <li>{{ line }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </li>

      
      {%elif method == 'WordlistVariations' %}
        <li>Wordlist(s) attack with variations:
        <ul class="list">
        {% for wordlist in dict%}
          <li>{{ wordlist | unslugify_template }} 
            <ul>
            {% for rule in dict[wordlist]%}
              <li class="{{ dict[wordlist][rule] | get_log_display_css }}">{{ rule }} 
                <ul>
                  {% for line in dict[wordlist][rule] | is_method_not_started | separate_lines %}
                  <li>{{ line }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
        </ul>
        </li>
      <br />
      
      {% elif method == 'Mask' %}
        {% for key in dict if key != 'Mask' %}
        <li class="{{ dict[key] | get_log_display_css }}">Mask attack:
          <ul>
            {% for line in dict[key] | is_method_not_started | separate_lines %}
            <li>{{ line }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      
      {% elif method == 'Bruteforce' %}
        <li>Bruteforce attack:
        <ul>
          {% for key in dict if key != 'Bruteforce'%}
            <li class="{{ dict[key] | get_log_display_css }}">{{ key }} character{% if key > 1 %}s{% endif %} 
              <ul>
                {% for line in dict[key] | separate_lines %}
                <li>{{ line }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          {% if (dict | is_current_bruteforce_attack_running) and task_state == 1 %}
            <li>The bruteforce may still be ongoing, but no additional information is available in the logs.</li>
          {% endif %}
          
          {% if dict|len == 1 %}
            <li class="notstarted">Bruteforce not started.</li>
          {% endif %}
        </ul>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
</p>

{% endblock %}

