{% extends "layout.html" %}
{% block body %}
<p>
  {%if crackOption != '' %}
    <ul>
    {% for method, dict in crackOption %}

      {%if method == 'BruteForce_lm' %}
        <li>Bruteforce attack on the LM hashes:
          <ul>
          {% for key in dict if key != 'BruteForce_lm' %}
            <li>{{ key }} character{% if key > 1 %}s{% endif %} ({{ dict[key] }})</li>
          {% endfor %}
          {% if (dict | is_current_bruteforce_attack_running) %}
            <li>The bruteforce may still be ongoing, but no additional information is available in the logs.</li>
          {% endif %}
          
          {% if dict|len == 1 %}
            <li>Bruteforce not started.</li>
          {% endif %}
          </ul>
        </li>

      {%elif method == 'Dict' %}
        <li>Recovering the NTLM hashes with the help of the cracked LM passwords (case variation):
          {% for key in dict if key != 'Dict' %}
            {{ dict[key] }}
          {% endfor %}
        </li>

      {%elif method == 'Keywords' %}
        <li>Keywords attack:
          <ul>
          {% for wordlist_or_rule in dict%}
            {%if wordlist_or_rule == 'Keywords' %}
              <li>Keywords without any rules ({{ dict[wordlist_or_rule] | is_method_not_started }})</li>
              <li>Keywords with rules:
                <ul>
            {%else %}
                  <li>{{ wordlist_or_rule }} ({{ dict[wordlist_or_rule] | is_method_not_started }})</li>
            {% endif %}
          {% endfor %}
                </ul>
              </li>
          </ul>
        </li>


      {% elif method == 'Wordlist' %}
        <li>Wordlist(s) attack:
          <ul>
          {% for wordlist in dict%}
            <li>{{ wordlist}} ({{ dict[wordlist] | is_method_not_started }})</li>
          {% endfor %}
          </ul>
        </li>

      
      {%elif method == 'WordlistVariations' %}
        <li>Wordlist(s) attack with variations:
        <ul>
        {% for wordlist in dict%}
          <li>{{ wordlist}} 
            <ul>
            {% for rule in dict[wordlist]%}
              <li>{{ rule }} ({{ dict[wordlist][rule] | is_method_not_started }})</li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
        </ul>
        </li>
      <br />
      
      {% elif method == 'Mask' %}
        <li>Mask attack:
          {% for key in dict if key != 'Mask' %}
            {{ dict[key] }}
          {% endfor %}
        </li>
      
      {% elif method == 'Bruteforce' %}
        <li>Bruteforce attack:
        <ul>
          {% for key in dict if key != 'Bruteforce'%}
            <li>{{ key }} character{% if key > 1 %}s{% endif %} ({{ dict[key] }})</li>
          {% endfor %}
          {% if (dict | is_current_bruteforce_attack_running) %}
            <li>The bruteforce may still be ongoing, but no additional information is available in the logs.</li>
          {% endif %}
          
          {% if dict|len == 1 %}
            <li>Bruteforce not started.</li>
          {% endif %}
        </ul>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
</p>
<br />
  Hashcat status&nbsp;:<br />
  <pre>{{ debug_content }}</pre>
{% endblock %}

