{% extends "layout.html" %}
{% block body %}
<div class="home-menu">
  <p><img src="{{ url_for('static', filename='img/plus.png') }}"><a href="/add">Submit hashes</a></p>
  <p><img src="{{ url_for('static', filename='img/list.png') }}"><a href="/user/cracks">List of your current and past cracks</a></p>
  <p><img src="{{ url_for('static', filename='img/load.png') }}"><a href="/status">Server load status</a></p>
  <p><img src="{{ url_for('static', filename='img/file.png') }}"><a href="/upload">Upload of a specific password protected file</a></p>
</div>
{% if version %}<div class="version">Cracking server version {{ version }}</div>{% endif %}
{% endblock %}
