<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="author" content="wavestone">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <!-- Activation des tooltip -->
    <script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <!-- end CSS-->
    {% block custom_head %}
    {% endblock %}    
</head>
<body>
    
    
    
<div class=page>
    <div class="logo"> </div>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  
  <div id="navigation"> 
  {% block navigation %}
    <div class="header">
        <a href="/"><img src="{{ url_for('static', filename='img/home.png') }}" alt="Return to homepage">
        <h1>Password recovery platform</h1> </a>
    </div>
  {% endblock %}
  </div>

  {% block body %}
  {% endblock %}
</div>
</body>
</html>
