{% extends "layout.html" %}
{% block body %}


  <form action="/add/start" id="hashform" method="post">
    <input name=_csrf_token type=hidden form="hashform" value="{{ csrf_token() }}">
    <h2>Hash(es) options</h2>
    <div class="card">
    <h3>Hash inputs</h3>
      <div class="textareahash"><textarea name="hashes" form="hashform" placeholder="Liste des hash" readonly>{{hashes}}</textarea></div>
      {% if usernames_with_hash %}
      <p> Hash list <b>contains</b> usernames arrange as follows : user{{ separator }}hash. </p>
      <input type="hidden" name="Withusernames" value="1" />
      {% else %}
      <p> Hash list <b>doesn't contain</b> usernames. </p>
      {% endif %}
      <h3> Selected hash type</h3>
      <div class="hashlist">
        <select name="hashtype" form="hashform" readonly >
          {% for hash in HASHS_LIST %}
            <option value="{{ hash[0] }}" {% if hash[0] == hashtype_selected %}SELECTED{% else %}disabled{% endif %}>{{ hash[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <h2>Selected attack mode(s)</h2>
    <div class="card">
      <ul>
      {% for option in crackOptions %}
          <li>
              {% if option == 'Motcle' %}
                  Keyword(s) : <textarea readonly>{{keywords}}</textarea>
              {% elif option == 'Wordlist' %}
                  Wordlist :
                  {% for chosenWordlist in wordlistList %}
                  <ul style="list-style-type:circle;"> 
                  <li>
                      {% for wordlist in listOfAllWordlists %}
                          {% if (wordlist | slugify_template)==chosenWordlist %}
                               {{wordlist}}
                          {% endif %}
                      {% endfor %}
                  </ul>
                  </li>
                  {% endfor %}
                  
              {% elif option == 'WordlistVariations' %}
                  Wordlist with variations :
                  {% for chosenWordlist in wordlistRulesList %}
                  <ul style="list-style-type:circle;">
                  <li>
                      {% for wordlist in listOfAllWordlists %}
                        {% if (("rule"+wordlist) | slugify_template)==chosenWordlist %}
                               {{wordlist}}
                          {% endif %}
                      {% endfor %}
                  </ul>
                  </li>
                  {% endfor %}

              {% elif option == 'Mask' %}
                  Mask : {{mask}}
              {% elif option == 'Keywords' %}
                  Keyword(s) : {{keywords}}
              {% elif option == 'Bruteforce' %}
                  Bruteforce
              {% endif %}
          </li>
      {% endfor %}
      </ul>
      {% for option in crackOptions %}
        <input type="hidden" name="{{option}}" value="1" />
      {% endfor %}
      {% for chosenWordlist in wordlistList %}
        <input type="hidden" name="{{chosenWordlist}}" value="1" />
      {% endfor %}
      {% for chosenRulesWordlist in wordlistRulesList %}
        <input type="hidden" name="{{chosenRulesWordlist}}" value="1" />
      {% endfor %}
    </div>
    <input type="hidden" name="ChosenMask" value="{{mask}}">
    <input type="hidden" name="ChosenKeyword" value="{{keywords}}">

    <h2>Selected crack duration</h2>
    <div class="card">
      <input type="hidden" name="ChosenDuration" value="{{crack_duration}}">
      <ul class="empty" >
        <li class="diagram{{ crack_duration }}"><input type="radio" name="duration" value="{{ crack_duration }}" checked > {{ crack_duration }} days</li>
      </ul>
    </div>
    <br /><br />
    <input type="submit" class="btn btn-success" value="Launch this crack">
  </form>
{% endblock %}

