a, a:visited, a:active {
    color: #503078;
}

/* Useful for csv download button*/
.btn:visited {
    color: #FFFFFF
}

.page {
    margin: 2em auto;
    width: 1171px;
    border: 5px solid #bbb;
    padding: 10px;
    padding-left: 20px;
    background:white;
}

.hash_example {
    max-width: 890px;
    word-wrap:break-word;
    margin-bottom:7px;
}

.red {
    color:red;
    display: inline;
}

.logo {
    background: url("img/main_logo.png");
    height: 100px;
    width: 459px;
    margin-left: 30%;
}

.example {
    font-weight:bold;
}

.checkcheck {
    margin-left: 15px;
    margin-top:7px;
}

.checkBoxStyle input {
    margin-left: 15px;
}

#CheckBoxPopover {
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}

/*.bulle {
    font-size:10px;
    margin-left:5px;
}*/

.pre {
    background:white;
    margin-top:10px;
    width:1100px;
    float:left;
    color:red;
    max-height:300px;
    overflow-x:auto;
    overflow-y:scroll;
    white-space: pre;
}

/*.graphique_statistique {
    width:700px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    background:white;
}

/*.camembert {
    margin-left:10px;
    margin-top:10px;
    background:white;
    float:left;
    width:400px;
}*/

.recoverypwd {
    margin-left:10px;
    font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size:18px;
    color:#333;
    fill:#333;
    margin-top:15px;
    margin-bottom:5px;
    width:336,
}

.clear {
    clear:both;
}

.textareahash {
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}

.textareahash textarea{
    width: 900px;
}

.hashlist select{
    width: 910px;
}

#navigation {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 0px;
}

body {
    font-family: sans-serif;
    background: #DFDFDF;
}

.mask-display {
    display: none;
    margin-top: 5px;
    margin-bottom: -15px;
    margin-left: 20px;
}

#mask:checked ~ .mask-display {
    display: block;
}

.display-keywords {
    display: none;
    margin-top: 5px;
    margin-bottom: -15px;
    margin-left: 20px;
}

#keyword:checked ~ .display-keywords {
    display: block;
}

.wordlist-display {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.wordlistvar-display {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#wordlistvar:checked ~ .wordlistvar-display {
    display: block;
}

#wordlist:checked ~ .wordlist-display {
    display: block;
}

#container {
    height: 400px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.upload {
    width:500px;
}

.extension_list {
    margin-left:20px;
}

input.opacity {
    opacity : .40;
    filter  : alpha(opacity=40); /* IE<9 */
}

.debuglink {
    float: right;
    text-decoration: underline;
}

.debuglink img {
    width: 15px;
    height: 15px;
}

.debuglink a {
    margin-left: 5px;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}

.withusernames {
    display: inline-block;
    padding-bottom: 15px;
}

h1, h2 {
    color: #503078;
}

h2 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.textareahash textarea {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.header img {
    float: left;
    width: 30px;
    height: 30px;
}

.header h1 {
    position: relative;
    top: 0px;
    left: 10px;
}

.card {
    padding: 16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

ul.empty {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.diagram3 {
    background: url('img/diagram3.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

li.diagram7 {
    background: url('img/diagram7.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

li.diagram30 {
    background: url('img/diagram30.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

.identify img {
    float: left;
    width: 15px;
    height: 15px;
}

.identify a {
    margin-left: 5px;
}

.home-menu img {
    float: left;
    width: 20px;
    height: 20px;
}

.home-menu a {
    margin-left: 5px;
    vertical-align: middle;
}

.stopbutton {
    width: 18px;
    height: 18px;
    cursor: pointer; cursor: hand;
}

li.achieved {
    background: url('img/ok.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

li.question {
    background: url('img/question-mark.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

li.ongoing {
    background: url('img/processing.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

li.cancelled {
    background: url('img/error.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

li.failed {
    background: url('img/failure.png') no-repeat left top;
    background-size: 30px 30px;
    height: 35px;
    padding-left: 44px;
    display: table-cell;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #503078;
    border: 1px solid #503078;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr.prehash {
    display: table-row;
    margin: 3px;
    font-size: 12px;
    line-height: 18px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 3px;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.version {
    font-size: 8px;
    color: gray;
    text-align: center;
}

/* styles for the log parser */
li.notstarted {
    color: #A5A4AD;
}

li.finished {
    color: #503078;
}

li.currentlyrunning {
    color: #FAA916;
    font-weight: bold;
}

li.cracked {
    color: #66C605;
    font-weight: bold;
}
